.mainContent {
  grid-column: 2/3;
  grid-row: 2/3;
  min-height: calc(100dvh - var(--nav-bar-height));

  display: grid;
  justify-self: center;
  max-width: 1400px;
  gap: 30px;
  grid-template-columns: 1fr;
  @media (min-width: 980px) {
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 60px;
  }
  /* border: 1px solid purple; */
  justify-items: center;

  > img {
    width: 73%;
    max-width: 500px;
    @media (min-width: 980px) {
      width: 100%;
      margin-top: 45px;
      justify-self: end;
    }
  }

  h6 {
    margin-top: 10px;
    font-size: 0.9em;
    font-style: italic;
  }

  a:link,
  a:visited {
    color: #777;
  }

  a:hover,
  a:active {
    color: #333;
  }

  ul {
    padding: 10px;
  }

  li {
    list-style-type: none;
  }
}

.bookDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
  padding-top: 10px;
  @media (min-width: 980px) {
    text-align: left;
  }
}

.purchaseLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  > p {
    margin-top: 1rem;
  }
  div {
    padding: 4px 2px;
    display: flex;
    gap: 10px;
    justify-content: center;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
  }
  margin-bottom: 10px;
}
