.mainContent {
  grid-column: 2/3;
  grid-row: 2/3;
  min-height: calc(100dvh - var(--nav-bar-height));

  display: grid;
  justify-self: center;
  max-width: 1400px;
  gap: 30px;
  grid-template-columns: 1fr;

  @media (min-width: 980px) {
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 60px;
  }

  /* border: 1px solid purple; */
  justify-items: center;

  >img {
    width: 73%;
    max-width: 500px;

    @media (min-width: 980px) {
      width: 100%;
      margin-top: 45px;
      justify-self: end;
    }
  }

  h6 {
    margin-top: 10px;
    font-size: 0.9em;
    font-style: italic;
  }

  a:link,
  a:visited {
    color: #777;
  }

  a:hover,
  a:active {
    color: #333;
  }

  ul {
    padding: 10px;
  }

  li {
    list-style-type: none;
  }
}

.gridCenter {
  /* border: 1px solid Coral; */
  align-self: center;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.bookDescription {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
  padding-top: 10px;

  @media (min-width: 980px) {
    text-align: left;
  }
}

.purchaseLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;

  h1 {
    font-size: 2.5em;
  }

  div {
    padding: 4px 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
    justify-items: center;
    gap: 10px;
    justify-content: center;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
  }

  margin-bottom: 15px;
}

.substackLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;

  h1 {
    font-size: 2.5em;
  }

  div {
    padding: 12px 2px;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 800px;
    justify-items: center;
    gap: 10px;
    justify-content: center;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    text-align: center;
  }

  margin-bottom: 15px;
}