.mainContent {
  grid-column: 2/3;
  grid-row: 2/3;
  min-height: calc(100vh - var(--nav-bar-height));

  /* display: grid; */
  /* justify-self: center; */
  /* max-width: 1400px; */
  /* grid-template-columns: auto minmax(200px, auto-fit); */
  /* grid-auto-flow: column; */
  /* gap: 60px; */
  /* border: 1px solid purple; */
  /* justify-items: center; */
    display: flex;
    flex-direction: column;
    align-items: center;


  > img {
    max-width: 1080px;
    margin-top: 45px;
    justify-self: end;
  }

  a:link, a:visited {
    color: #777;
  }

  a:hover, a:active {
    color: #333;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* h1 { */
    /* margin-top: 150px; */
    /* margin-bottom: 50px; */
  /* } */
}

/* .aboutDescription {
  display: flex;
  flex-direction: column;
  gap: 30px;
} */
