:root {
    /** CSS PRIMARY COLORS */
    --color-primary-a0: #ffffff;
    --color-primary-a10: #d2d8e0;
    --color-primary-a20: #a6b1c2;
    --color-primary-a30: #7b8da4;
    --color-primary-a40: #516a88;
    --color-primary-a50: #24496c;
    --color-primary-a60: #203b56;
    --color-primary-a70: #1b2d41;
    --color-primary-a80: #16202d;
    --color-primary-a90: #0f141a;
    /** EXAMPLES */
    color: var(--color-primary-a50);
    background-color: var(--color-primary-a90);
}

body {
    
}